/* Login page styles */

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    padding-top: 5rem;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(rgb(228, 228, 228), rgb(121, 121, 121), rgb(0, 0, 0));
}

.content {
    position: absolute;
    top: 5rem;
    bottom:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20vw;
    animation: colorback 8s ease-in-out infinite;
}

.images {
    position: relative;
    width: 15rem;
    height: 15rem;
}

.teamlogo {
    position: absolute;
    top:0;
    width: 15rem;
    height: 15rem;
    filter: drop-shadow(0 0 0.4rem rgba(255, 255, 255, 0.6));
}

.formarea {
    width: 25rem;
    height: 25rem;
    background: white;
    box-shadow: 0px 0px 10px 2px black;
    z-index: 1;
    text-align: center;
    margin: none;
    padding: 1rem;
    border-radius: 5px;
}

.formtitle {
    font-size: 1.8rem;
    font-weight: bold;
}

hr {
    height: 0.2rem;
    background-color: black;
    border-radius: 5px;
}

.forminput {
    font-size: 1.4rem;
    width: 75%;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    border: 2px solid rgb(0, 0, 0);
    padding: 0.4rem 0.2rem;
    border-radius: 5px;
}

.submitbtn {
    width: 50%;
    padding: 0.5rem 1rem;
    background: #00a4e064;
    border: 2px solid rgb(74, 74, 74);
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 5px;
}

.submitbtn:hover {
    background: rgba(155, 249, 178, 0.695);
}

/* --- Animations --- */
@keyframes colorback {
    0% {background: #000000a0;}
    12.5% {background: #471198a0;}
    25% {background: #ff4962a0;}
    37.5% {background: #07414fa0;}
    50% {background: #339c62a0;}
    62.5% {background: #ff7f27a0;}
    75% {background: #051ad5a0;}
    87.5% {background: #ffd900a0;}
    100% {background: #000000a0;}
}

@keyframes logoHSN {
    0% {opacity: 1;}
    12.5% {opacity: 0;}
    25% {opacity: 0;}
    37.5% {opacity: 0;}
    50% {opacity: 0;}
    62.5% {opacity: 0;}
    75% {opacity: 0;}
    87.5% {opacity: 0;}
    100% {opacity: 1;}
}
#HSN {animation: logoHSN 8s infinite;}

@keyframes logoCHI {
    0% {opacity: 0;}
    12.5% {opacity: 1;}
    25% {opacity: 0;}
    37.5% {opacity: 0;}
    50% {opacity: 0;}
    62.5% {opacity: 0;}
    75% {opacity: 0;}
    87.5% {opacity: 0;}
    100% {opacity: 0;}
}
#CHI {animation: logoCHI 8s infinite;}

@keyframes logoTOR {
    0% {opacity: 0;}
    12.5% {opacity: 0;}
    25% {opacity: 1;}
    37.5% {opacity: 0;}
    50% {opacity: 0;}
    62.5% {opacity: 0;}
    75% {opacity: 0;}
    87.5% {opacity: 0;}
    100% {opacity: 0;}
}
#TOR {animation: logoTOR 8s infinite;}

@keyframes logoNYL {
    0% {opacity: 0;}
    12.5% {opacity: 0;}
    25% {opacity: 0;}
    37.5% {opacity: 1;}
    50% {opacity: 0;}
    62.5% {opacity: 0;}
    75% {opacity: 0;}
    87.5% {opacity: 0;}
    100% {opacity: 0;}
}
#NYL {animation: logoNYL 8s infinite;}

@keyframes logoMCM {
    0% {opacity: 0;}
    12.5% {opacity: 0;}
    25% {opacity: 0;}
    37.5% {opacity: 0;}
    50% {opacity: 1;}
    62.5% {opacity: 0;}
    75% {opacity: 0;}
    87.5% {opacity: 0;}
    100% {opacity: 0;}
}
#MCM {animation: logoMCM 8s infinite;}

@keyframes logoLAA {
    0% {opacity: 0;}
    12.5% {opacity: 0;}
    25% {opacity: 0;}
    37.5% {opacity: 0;}
    50% {opacity: 0;}
    62.5% {opacity: 1;}
    75% {opacity: 0;}
    87.5% {opacity: 0;}
    100% {opacity: 0;}
}
#LAA {animation: logoLAA 8s infinite;}

@keyframes logoMBS {
    0% {opacity: 0;}
    12.5% {opacity: 0;}
    25% {opacity: 0;}
    37.5% {opacity: 0;}
    50% {opacity: 0;}
    62.5% {opacity: 0;}
    75% {opacity: 1;}
    87.5% {opacity: 0;}
    100% {opacity: 0;}
}
#MBS {animation: logoMBS 8s infinite;}

@keyframes logoHAV {
    0% {opacity: 0;}
    12.5% {opacity: 0;}
    25% {opacity: 0;}
    37.5% {opacity: 0;}
    50% {opacity: 0;}
    62.5% {opacity: 0;}
    75% {opacity: 0;}
    87.5% {opacity: 1;}
    100% {opacity: 0;}
}
#HAV {animation: logoHAV 8s infinite;}