/* Teams page styles */
body {
    margin: 0;
    padding-top: 6rem;
    background-image: radial-gradient(rgb(203, 203, 203), rgb(96, 96, 96), rgb(0, 0, 0));
    font-family: Arial, Helvetica, sans-serif;
    transition: 1.5s ease;
}

.coloroverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    transition: 0.5s ease;
    background: rgb(90, 86, 86);
    z-index: -1;
}

.title {
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin: 1rem 0;
    filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 1));
}

.teambox {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: middle;
    row-gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3rem;
}

.team {
    position: relative;
    padding: 1rem 5rem;
    cursor: pointer;
}

.teamlogo {
    width: 12rem;
}

.overlay {
    position: absolute;
    bottom:0;
    left:100%;
    right:0;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    height: 100%;
    transition: 0.5s ease;
    color: rgb(255, 255, 255);
}

.team:hover .overlay {
    width: 100%;
    left: 0;
}

.teaminfo {
    padding: 1rem;
    font-size: 1.6rem;
}

.rating {
    padding: 1rem;
    font-size: 1.2rem;
}

.stars {
    height: 1.2rem;
}

.record {
    font-size: 1.2rem;
}

#CHI .overlay {background: rgba(159, 12, 175, 0.75);}
#HAV .overlay {background: rgba(195, 201, 29, 0.75); color: black;}
#HSN .overlay {background: rgba(10, 10, 10, 0.75);}
#LAA .overlay {background: rgba(208, 118, 22, 0.75);}
#MBS .overlay {background: rgba(22, 25, 213, 0.75);}
#MCM .overlay {background: rgba(40, 175, 51, 0.75);}
#NYL .overlay {background: rgba(2, 35, 43, 0.75);}
#TOR .overlay {background: rgba(174, 19, 53, 0.75);}

/* --- Animations --- */