.home-tab {
  background-image: url(../../public/home-background.jpg);
  background-size: cover;

  display: flex;
}

.home-display-box {
  display: flex;
}

.home-title {
  font-family: racerItalic;
  font-size: calc(3rem + 5vw);
  color: var(--bone);

  filter: drop-shadow(0 0 6px var(--bone));
}

.home-team {
  width: calc(100px + 8vw);
  height: auto;

  filter: drop-shadow(0 0 20px var(--HSN-main));
}
