.home-tab {
  background-image: url(../../public/home-background.jpg);
  background-size: cover;

  display: flex;
}

.home-display-box {
  width: 60%;
  height: 60%;
  background-color: #023d8a7c;

  border-radius: calc(5px + 1vw);

  display: flex;
}

.home-title {
  font-family: racerItalic;
  font-size: calc(2rem + 5vw);
  color: var(--dark);
}

.home-team {
  width: calc(100px + 5vw);
  height: auto;
}
