.teamcard {
  min-height: 100px;
  min-width: 100px;

  height: 12vw;
  width: 12vw;

  border-radius: 10px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.teamcard-code {
  font-family: racer;
  font-size: 2rem;
  transition: 0.3s ease;
}

.teamcard-logo {
  display: block;
  height: 100%;
  width: auto;
}
