/* League page styles */

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--coal);
  color: var(--bone);
}

.banner {
  position: fixed;
  width: 100%;
  padding-bottom: 50px;
}

.banner-title {
  font-size: calc(1rem + 2vw);
  font-family: racerItalic;
  text-decoration: none;
  color: var(--bone);

  transition: 0.3s ease-in-out;
}

.banner-title:hover {
  color: var(--sky);
}

.sign-in-btn {
  position: fixed;
  right: 40px;
  top: 10px;
  font-size: 1.2rem;

  border: 2px solid var(--bone);
  border-radius: 25px;
  padding: 5px 20px;
  background: none;
  color: var(--bone);

  transition: 0.3s ease;
}

.sign-in-btn:hover {
  padding: 5px 30px;
  background: var(--spring);
}

.profile {
  height: 1.8rem;
  width: auto;
  margin-top: -4px;
  margin-right: 5px;
  transition: 0.3s ease;
}

.tab-nav {
  position: fixed;
  top: calc(3rem + 2vw);
}

.tab-nav-btn {
  background: none;
  border: 2px solid var(--bone);
  border-left: none;
  padding: 0px 10px;
  font-family: basic;
  font-size: 1.2rem;
  color: var(--bone);
  transition: 0.3s ease;
}

.tab-nav-btn:hover {
  background-color: var(--lightsky);
  color: var(--coal);
}

.tab-nav-btn.active {
  background-color: var(--bone);
  color: var(--coal);
}

.tab-nav-btn:first-of-type {
  border-left: 2px solid var(--bone);
  border-radius: 10px 0 0 10px;
}

.tab-nav-btn:last-of-type {
  border-radius: 0 10px 10px 0;
}
