/* League page styles */

body {
  height: 100vh;
  width: 100vw;
  color: var(--bone);

  background-image: url(../public/home-background.jpg);
  background-size: cover;
}

.banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 7rem;
}

.banner-title {
  font-size: 48px;
  font-family: racerItalic;
  text-decoration: none;
  color: var(--bone);

  transition: 0.3s ease-in-out;
}

.banner-title:hover {
  color: var(--sky);
}

.sign-in-btn {
  position: absolute;
  right: 40px;
  top: 10px;
  font-size: 1.2rem;

  border: 2px solid var(--bone);
  border-radius: 25px;
  padding: 5px 20px;
  background: none;
  color: var(--bone);

  transition: 0.3s ease;
}

.sign-in-btn:hover {
  padding: 5px 30px;
  background: var(--spring);
}

.profile {
  height: 1.8rem;
  width: auto;
  margin-top: -4px;
  margin-right: 5px;
  transition: 0.3s ease;
}

.tab-nav {
  position: absolute;
  top: 4rem;
}

.tab-nav-btn {
  background: none;
  border: 2px solid var(--bone);
  border-left: none;
  padding: 0px 10px;
  font-family: basic;
  font-size: 1.2rem;
  color: var(--bone);
  transition: 0.3s ease;
}

.tab-nav-btn:hover {
  background-color: var(--lightsky);
  color: var(--coal);
}

.tab-nav-btn.active {
  background-color: var(--bone);
  color: var(--coal);
}

.tab-nav-btn:first-of-type {
  border-left: 2px solid var(--bone);
  border-radius: 10px 0 0 10px;
}

.tab-nav-btn:last-of-type {
  border-radius: 0 10px 10px 0;
}

.tab-area {
  margin: 0;
  margin-top: 7rem;
}
