/* Custom Colors (see color palette)*/
:root {
  --dark: #00072d;
  --navy: #023e8a;
  --sea: #0096c7;
  --sky: #90e0ef;
  --lightsky: #a7f2ff;
  --ash: #d1d1d1;
  --bone: #f9f9f7;

  --crimson: #ee3d3d;
  --saffron: #ffc633;
  --spring: #2deb95;
  --violet: #f9f9f7;
  --rose: #ff85a1;

  --ATL-main: #ffffff;
  --BOS-main: #0004ff;
  --CGY-main: #ff9100;
  --CHI-main: #471198;
  --HAV-main: #fff600;
  --HSN-main: #000000;
  --LAA-main: #ff7f27;
  --MBS-main: #1a1b9a;
  --MCC-main: #32a46d;
  --MIA-main: #00d9ff;
  --NOS-main: #fbff00;
  --NYR-main: #585858;
  --SEA-main: #7bffff;
  --TOR-main: #ff85a1;
}

/* Useful Classes */
.no-interact {
  user-select: none;
  pointer-events: none;
}

/* Custom Fonts */
@font-face {
  font-family: funFont;
  src: url(../public/LondrinaSolid-Regular.ttf);
}

@font-face {
  font-family: racer;
  src: url(../public/TechnoRace-Regular.ttf);
}

@font-face {
  font-family: racerItalic;
  src: url(../public/TechnoRace-Italic.otf);
}

@font-face {
  font-family: basic;
  src: url(../public/Courier\ Prime\ Sans.ttf);
}
