/* Custom Colors (see color palette)*/
:root {
  --coal: rgb(26, 26, 26);
  --dark: rgb(0, 7, 45);
  --navy: rgb(2, 62, 138);
  --sea: rgb(0, 150, 199);
  --sky: rgb(144, 224, 239);
  --lightsky: rgb(167, 242, 255);
  --ash: rgb(209, 209, 209);
  --bone: rgb(249, 249, 247);

  --crimson: rgb(238, 61, 61);
  --saffron: rgb(255, 198, 51);
  --spring: rgb(45, 235, 149);
  --violet: rgb(249, 249, 247);
  --rose: rgb(255, 133, 161);

  --ATL-main: rgb(255, 255, 255);
  --BOS-main: rgb(0, 4, 255);
  --CGY-main: rgb(255, 145, 0);
  --CHI-main: rgb(71, 17, 152);
  --HAV-main: rgb(255, 246, 0);
  --HSN-main: rgb(181, 11, 48);
  --LAA-main: rgb(255, 127, 39);
  --MBS-main: rgb(26, 27, 154);
  --MCC-main: rgb(50, 164, 109);
  --MIA-main: rgb(0, 217, 255);
  --NOS-main: rgb(251, 255, 0);
  --NYR-main: rgb(40, 40, 40);
  --SEA-main: rgb(123, 255, 255);
  --TOR-main: rgb(255, 133, 161);

  --ATL-main-opacity: rgba(255, 255, 255, 0.9);
  --BOS-main-opacity: rgba(0, 4, 255, 0.9);
  --CGY-main-opacity: rgba(255, 145, 0, 0.9);
  --CHI-main-opacity: rgba(71, 17, 152, 0.9);
  --HAV-main-opacity: rgba(255, 246, 0, 0.9);
  --HSN-main-opacity: rgba(181, 11, 48, 0.9);
  --LAA-main-opacity: rgba(255, 127, 39, 0.9);
  --MBS-main-opacity: rgba(26, 27, 154, 0.9);
  --MCC-main-opacity: rgba(50, 164, 109, 0.9);
  --MIA-main-opacity: rgba(0, 217, 255, 0.9);
  --NOS-main-opacity: rgba(251, 255, 0, 0.9);
  --NYR-main-opacity: rgba(40, 40, 40, 0.9);
  --SEA-main-opacity: rgba(123, 255, 255, 0.9);
  --TOR-main-opacity: rgba(255, 133, 161, 0.9);

  --ATL-accent: var(--coal);
  --BOS-accent: var(--bone);
  --CGY-accent: var(--coal);
  --CHI-accent: var(--bone);
  --HAV-accent: var(--coal);
  --HSN-accent: var(--bone);
  --LAA-accent: var(--coal);
  --MBS-accent: var(--bone);
  --MCC-accent: var(--bone);
  --MIA-accent: var(--coal);
  --NOS-accent: var(--coal);
  --NYR-accent: var(--bone);
  --SEA-accent: var(--coal);
  --TOR-accent: var(--coal);
}

/* Useful Classes */
.no-interact {
  user-select: none;
  pointer-events: none;
}

/* Custom Fonts */
@font-face {
  font-family: funFont;
  src: url(../public/LondrinaSolid-Regular.ttf);
}

@font-face {
  font-family: racer;
  src: url(../public/TechnoRace-Regular.ttf);
}

@font-face {
  font-family: racerItalic;
  src: url(../public/TechnoRace-Italic.otf);
}

@font-face {
  font-family: basic;
  src: url(../public/Courier\ Prime\ Sans.ttf);
}
